  <div class='pq-flex'>
    <!-- <div class='pq-flex-item'> -->
    <img class='pq-flex-item' src='https://upload.wikimedia.org/wikipedia/commons/8/81/TamilNadu_Logo.svg' />
    <!-- </div>
    <div> -->
    <img class='pq-flex-item'
      src='https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/FSFTN_Logo.svg/800px-FSFTN_Logo.svg.png' />
    <!-- </div>
       <div class='pq-flex-item'> -->
    <img class='pq-flex-item'
      src='https://upload.wikimedia.org/wikipedia/commons/c/c7/2006_tamil_nadu_legislative_election_map.png' />
    <!-- </div>
         <div class='pq-flex-item'> -->
    <img class='pq-flex-item'
      src='https://upload.wikimedia.org/wikipedia/commons/5/5a/Chennai_High_Court_1200x800.jpg' />
    <!-- </div> -->
  </div>
  <div style="padding-top:15px;    text-align: center;">
    <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
      <div class="pq-flex">
        <input type="text" class="pq-charbox" name="c1" formControlName="c1">
        <input type="text" class="pq-charbox" name="c2" formControlName="c2">
        <input type="text" class="pq-charbox" name="c3" formControlName="c3">
        <input type="text" class="pq-charbox" name="c4" formControlName="c4">
        <input type="text" class="pq-charbox" name="c5" formControlName="c5">
      </div>
      <br />
      <input type="submit" class="pq-confirm" value="Confirm Answer">
    </form>
    <!-- <div class="mx-auto w-auto text-center"   style="padding-top:15px; text-align:center; margin: 10px auto;">
      <app-tamilkboard></app-tamilkboard>
    </div> -->
  </div>
