<table border="1" cellspacing="0" cellpadding="5" class="table"
  style="border-collapse:collapse;background:#FFFFFF;font-size:large;text-align:center">
  <tbody>
    <tr style="background:#F8F8F8;font-size:small">
      <td>&nbsp;</td>
      
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
   
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
     
      <td>0</td>
      <td>1</td>
      <td>A</td>
      <td>B</td>
      
      <td>C</td>
      <td>D</td>
      <td>E</td>
      <td>F</td>
    </tr>
    <tr>
      <td style="background:#F8F8F8;font-size:small">U+0B8x
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="U+0B82: TAMIL SIGN ANUSVARA">ஂ
      </td>
      <td title="U+0B83: TAMIL SIGN VISARGA">ஃ
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="U+0B85: TAMIL LETTER A">அ
      </td>
      <td title="U+0B86: TAMIL LETTER AA">ஆ
      </td>
      <td title="U+0B87: TAMIL LETTER I">இ
      </td>
      <td title="U+0B88: TAMIL LETTER II">ஈ
      </td>
      <td title="U+0B89: TAMIL LETTER U">உ
      </td>
      <td title="U+0B8A: TAMIL LETTER UU">ஊ
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="U+0B8E: TAMIL LETTER E">எ
      </td>
      <td title="U+0B8F: TAMIL LETTER EE">ஏ
      </td>
    </tr>
    <tr>
      <td style="background:#F8F8F8;font-size:small">U+0B9x
      </td>
      <td title="U+0B90: TAMIL LETTER AI">ஐ
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="U+0B92: TAMIL LETTER O">ஒ
      </td>
      <td title="U+0B93: TAMIL LETTER OO">ஓ
      </td>
      <td title="U+0B94: TAMIL LETTER AU">ஔ
      </td>
      <td title="U+0B95: TAMIL LETTER KA">க
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="U+0B99: TAMIL LETTER NGA">ங
      </td>
      <td title="U+0B9A: TAMIL LETTER CA">ச
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="U+0B9C: TAMIL LETTER JA">ஜ
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="U+0B9E: TAMIL LETTER NYA">ஞ
      </td>
      <td title="U+0B9F: TAMIL LETTER TTA">ட
      </td>
    </tr>
    <tr>
      <td style="background:#F8F8F8;font-size:small">U+0BAx
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="U+0BA3: TAMIL LETTER NNA">ண
      </td>
      <td title="U+0BA4: TAMIL LETTER TA">த
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="U+0BA8: TAMIL LETTER NA">ந
      </td>
      <td title="U+0BA9: TAMIL LETTER NNNA">ன
      </td>
      <td title="U+0BAA: TAMIL LETTER PA">ப
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="U+0BAE: TAMIL LETTER MA">ம
      </td>
      <td title="U+0BAF: TAMIL LETTER YA">ய
      </td>
    </tr>
    <tr>
      <td style="background:#F8F8F8;font-size:small">U+0BBx
      </td>
      <td title="U+0BB0: TAMIL LETTER RA">ர
      </td>
      <td title="U+0BB1: TAMIL LETTER RRA">ற
      </td>
      <td title="U+0BB2: TAMIL LETTER LA">ல
      </td>
      <td title="U+0BB3: TAMIL LETTER LLA">ள
      </td>
      <td title="U+0BB4: TAMIL LETTER LLLA">ழ
      </td>
      <td title="U+0BB5: TAMIL LETTER VA">வ
      </td>
      <td title="U+0BB6: TAMIL LETTER SHA">ஶ
      </td>
      <td title="U+0BB7: TAMIL LETTER SSA">ஷ
      </td>
      <td title="U+0BB8: TAMIL LETTER SA">ஸ
      </td>
      <td title="U+0BB9: TAMIL LETTER HA">ஹ
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="U+0BBE: TAMIL VOWEL SIGN AA">ா
      </td>
      <td title="U+0BBF: TAMIL VOWEL SIGN I">ி
      </td>
    </tr>
    <tr>
      <td style="background:#F8F8F8;font-size:small">U+0BCx
      </td>
      <td title="U+0BC0: TAMIL VOWEL SIGN II">ீ
      </td>
      <td title="U+0BC1: TAMIL VOWEL SIGN U">ு
      </td>
      <td title="U+0BC2: TAMIL VOWEL SIGN UU">ூ
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="U+0BC6: TAMIL VOWEL SIGN E">ெ
      </td>
      <td title="U+0BC7: TAMIL VOWEL SIGN EE">ே
      </td>
      <td title="U+0BC8: TAMIL VOWEL SIGN AI">ை
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="U+0BCA: TAMIL VOWEL SIGN O">ொ
      </td>
      <td title="U+0BCB: TAMIL VOWEL SIGN OO">ோ
      </td>
      <td title="U+0BCC: TAMIL VOWEL SIGN AU">ௌ
      </td>
      <td title="U+0BCD: TAMIL SIGN VIRAMA">்
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
    </tr>
    <tr>
      <td style="background:#F8F8F8;font-size:small">U+0BDx
      </td>
      <td title="U+0BD0: TAMIL OM">ௐ
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="U+0BD7: TAMIL AU LENGTH MARK">ௗ
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
    </tr>
    <tr>
      <td style="background:#F8F8F8;font-size:small">U+0BEx
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="U+0BE6: TAMIL DIGIT ZERO">௦
      </td>
      <td title="U+0BE7: TAMIL DIGIT ONE">௧
      </td>
      <td title="U+0BE8: TAMIL DIGIT TWO">௨
      </td>
      <td title="U+0BE9: TAMIL DIGIT THREE">௩
      </td>
      <td title="U+0BEA: TAMIL DIGIT FOUR">௪
      </td>
      <td title="U+0BEB: TAMIL DIGIT FIVE">௫
      </td>
      <td title="U+0BEC: TAMIL DIGIT SIX">௬
      </td>
      <td title="U+0BED: TAMIL DIGIT SEVEN">௭
      </td>
      <td title="U+0BEE: TAMIL DIGIT EIGHT">௮
      </td>
      <td title="U+0BEF: TAMIL DIGIT NINE">௯
      </td>
    </tr>
    <tr>
      <td style="background:#F8F8F8;font-size:small">U+0BFx
      </td>
      <td title="U+0BF0: TAMIL NUMBER TEN">௰
      </td>
      <td title="U+0BF1: TAMIL NUMBER ONE HUNDRED">௱
      </td>
      <td title="U+0BF2: TAMIL NUMBER ONE THOUSAND">௲
      </td>
      <td title="U+0BF3: TAMIL DAY SIGN">௳
      </td>
      <td title="U+0BF4: TAMIL MONTH SIGN">௴
      </td>
      <td title="U+0BF5: TAMIL YEAR SIGN">௵
      </td>
      <td title="U+0BF6: TAMIL DEBIT SIGN">௶
      </td>
      <td title="U+0BF7: TAMIL CREDIT SIGN">௷
      </td>
      <td title="U+0BF8: TAMIL AS ABOVE SIGN">௸
      </td>
      <td title="U+0BF9: TAMIL RUPEE SIGN">௹
      </td>
      <td title="U+0BFA: TAMIL NUMBER SIGN">௺
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
      <td title="Reserved" style="background-color:#CCCCCC;">
      </td>
    </tr>
    
  </tbody>
</table>
